header {
    transition: all .3s ease-in-out;

    background-color: #1D49A7;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    align-items: center;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
    position: sticky; top: 0;
    z-index: 999;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

li {
    margin: 0 15px;
}

nav button {
    border: none;
    background: transparent;
    font-size: 25px;
    color: #F9DE71;
    text-transform: uppercase;
    font-weight: bold;
}

nav button:hover {
    color: #898471;
    cursor: pointer;
}

.hide-logo img {
   height: 48px;
   opacity: 0;
   transition: all .3s ease-in-out;

}

.big {
    transition: all .3s ease-in-out;
    height: 70px;
}

.show-logo img {
    height: 48px;
    transition: all .3s ease-in-out;

}
